[submodule "Gameframe-Gateway"]
	path = Gameframe-Gateway
	url = https://github.com/ThePartyPinguin/Gameframe-Gateway.git
[submodule "Gameframe-Authservice"]
	path = Gameframe-Authservice
	url = https://github.com/ThePartyPinguin/Gameframe-Authservice.git
[submodule "Gameframe-Userservice"]
	path = Gameframe-Userservice
	url = https://github.com/ThePartyPinguin/Gameframe-Userservice.git
[submodule "Gameframe-Eurekaservice"]
	path = Gameframe-Eurekaservice
	url = https://github.com/ThePartyPinguin/Gameframe-Eurekaservice.git
[submodule "Gameframe-Profileservice"]
	path = Gameframe-Profileservice
	url = https://github.com/ThePartyPinguin/Gameframe-Profileservice.git
[submodule "Gameframe-Fileservice"]
	path = Gameframe-Fileservice
	url = https://github.com/ThePartyPinguin/Gameframe-Fileservice.git
[submodule "Gameframe-Postingservice"]
	path = Gameframe-Postingservice
	url = https://github.com/ThePartyPinguin/Gameframe-Postingservice.git
[submodule "Gameframe-Socketservice"]
	path = Gameframe-Socketservice
	url = https://github.com/ThePartyPinguin/Gameframe-Socketservice.git
	branch = master
